<div class="container" style="margin-top:5%">
	<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
	<button type="button" name="button" class="btn btn-primary offset-md-3" (click)="g()">Print</button>
	<button type="button" class="btn btn-primary offset-md-1" data-toggle="modal" data-target="#myModal">
    Upload CSV
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Upload CSV File</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
				<form  #f="ngForm" (ngSubmit)="onSubmit(f)">

        <!-- Modal body -->
        <div class="modal-body">
					<input type="file"  class="upload" align="right" (change)="changeListener($event.target.files)">

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
					<button type="submit" class="btn btn-success" >Submit</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
			</form>

      </div>
    </div>
  </div>
	<br>
	<br>

	<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
      </mat-cell>
    </ng-container>

		<!-- ID Column -->
		<ng-container matColumnDef="chequeid">
			<mat-header-cell *matHeaderCellDef mat-sort-header> chequeid </mat-header-cell>
			<mat-cell *matCellDef="let dataSource"> {{dataSource.chequeid}} </mat-cell>
		</ng-container>

		<!-- Progress Column -->
		<ng-container matColumnDef="Name">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
			<mat-cell *matCellDef="let dataSource"> {{dataSource.Name}}% </mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="Date">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
			<mat-cell *matCellDef="let dataSource"> {{dataSource.Date}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Amount">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
			<mat-cell *matCellDef="let dataSource" [style.color]="dataSource.color"> {{dataSource.Dollar}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="Status">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
			<mat-cell *matCellDef="let dataSource"> {{dataSource.Status}} </mat-cell>
		</ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="highlightedRows(row)" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
  </mat-table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
</div>
